infrastructure/n8n-flows/attack-executor.json
{
    "name": "CyberShield — Attack Executor",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "attack-execute",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "resource": "document",
                "operation": "find",
                "collection": "attack_templates",
                "query": "={\"name\": \"{{ $json.body.attack_name }}\"}",
                "options": {
                    "limit": 1
                }
            },
            "id": "node-mongodb",
            "name": "MongoDB — Buscar plantilla",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                460,
                300
            ],
            "credentials": {
                "mongoDb": {
                    "id": "MONGO_CREDENTIAL_ID",
                    "name": "MongoDB Atlas"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const webhook = $('Webhook').first().json;\nconst webhookData = webhook.body || webhook || {};\nlet raw = [];\ntry {\n  raw = $('MongoDB — Buscar plantilla').first().json;\n} catch (e) {\n  raw = [];\n}\nconst tmpl = (Array.isArray(raw) && raw.length > 0) ? raw[0] : (raw && Object.keys(raw).length > 0 ? raw : null);\n\nconst parameters = webhookData.parameters || {};\nconst companyName = webhookData.company_name_val || webhookData.company_name || 'Empresa Auditada';\nconst reportId = webhookData.report_id || ('CS-RPT-' + new Date().toISOString().slice(0,10) + '-' + webhookData.attack_id);\n\nconst name = tmpl ? tmpl.name : webhookData.attack_name;\nconst mitre_id = tmpl ? tmpl.mitre_id : webhookData.mitre_id;\nconst risk_level = tmpl ? tmpl.risk_level : webhookData.risk_level;\nconst wazuh_rule_id = tmpl ? tmpl.wazuh_rule_id : webhookData.wazuh_rule_id;\nconst description = tmpl ? tmpl.description : webhookData.description;\n\nlet command = (tmpl ? tmpl.command : '') || webhookData.command;\nlet logger_command = (tmpl ? tmpl.logger_command : '') || webhookData.logger_command;\n\n// Reemplazo dinamico de parámetros en n8n como salvaguarda\nif (command && parameters) {\n  for (const key in parameters) {\n    const val = parameters[key];\n    command = command.replace(new RegExp('{{' + key + '}}', 'g'), val || '');\n  }\n}\nif (logger_command && parameters) {\n  for (const key in parameters) {\n    const val = parameters[key];\n    logger_command = logger_command.replace(new RegExp('{{' + key + '}}', 'g'), val || '');\n  }\n}\n\nreturn [{ \n  json: {\n    attack_id: webhookData.attack_id,\n    attack_name: name,\n    mitre_id: mitre_id,\n    risk_level: risk_level,\n    wazuh_rule_id: wazuh_rule_id,\n    description: description,\n    command: command,\n    logger_command: logger_command,\n    parameters: parameters,\n    company_name: companyName,\n    report_id: reportId,\n    start_timestamp: new Date().toISOString()\n  }\n}];"
            },
            "id": "node-code",
            "name": "Code — Construir comandos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "resource": "command",
                "operation": "execute",
                "command": "=timeout 10s {{ $json.command }} ; {{ $json.logger_command ? $json.logger_command : '' }}"
            },
            "id": "node-ssh-attack",
            "name": "SSH — Ejecutar ataque en Kali",
            "type": "n8n-nodes-base.ssh",
            "typeVersion": 1,
            "position": [
                900,
                300
            ],
            "credentials": {
                "sshPassword": {
                    "id": "SSH_CREDENTIAL_ID",
                    "name": "Kali Linux SSH"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:3001/api/reports/generate",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyContentType": "json",
                "jsonBody": "={{ JSON.stringify({ report_id: $('Code — Construir comandos').first().json.report_id, company_name: $('Code — Construir comandos').first().json.company_name, attack_id: $('Code — Construir comandos').first().json.attack_id, attack_name: $('Code — Construir comandos').first().json.attack_name, mitre_id: $('Code — Construir comandos').first().json.mitre_id, risk_level: $('Code — Construir comandos').first().json.risk_level, description: $('Code — Construir comandos').first().json.description, command_executed: $('Code — Construir comandos').first().json.command, parameters: $('Code — Construir comandos').first().json.parameters, ssh_output: $('SSH — Ejecutar ataque en Kali').first().json.stdout || '', ssh_exit_code: $('SSH — Ejecutar ataque en Kali').first().json.exitCode || 0, start_timestamp: $('Code — Construir comandos').first().json.start_timestamp, end_timestamp: new Date().toISOString(), wazuh_rule_id: $('Code — Construir comandos').first().json.wazuh_rule_id }) }}"
            },
            "id": "node-report",
            "name": "HTTP — Generar PDF",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, attack_id: $('Code — Construir comandos').first().json.attack_id, report_id: $('Code — Construir comandos').first().json.report_id, pdf_url: $json.pdf_url || '', ssh_exit_code: $('SSH — Ejecutar ataque en Kali').first().json.exitCode || 0, wazuh_rule_id: $('Code — Construir comandos').first().json.wazuh_rule_id, start_timestamp: $('Code — Construir comandos').first().json.start_timestamp }) }}",
                "options": {}
            },
            "id": "node-response",
            "name": "Webhook Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1340,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "MongoDB — Buscar plantilla",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MongoDB — Buscar plantilla": {
            "main": [
                [
                    {
                        "node": "Code — Construir comandos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code — Construir comandos": {
            "main": [
                [
                    {
                        "node": "SSH — Ejecutar ataque en Kali",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SSH — Ejecutar ataque en Kali": {
            "main": [
                [
                    {
                        "node": "HTTP — Generar PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP — Generar PDF": {
            "main": [
                [
                    {
                        "node": "Webhook Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}